@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    font-size: 30px;
    padding: 30px;
}
.resumeGenerator{
    min-height: 100vh;
    background-color: gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
textarea{
    width: 80%;
    height: 150px;
    padding: 20px;
    margin: 30px;
    outline: none;
    background-color: rgb(77, 67, 67);
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    background-color: transparent;
    color: black;
    outline: none;
    width: 60%;
    padding: 10px;

}
input::placeholder{
    color: red;
}